<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Streamdata.io Stock-Market</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="app">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" ng-controller="AppController as controller">
      <div class="header">
        <h3 class="text-muted">Stock-Market Streamdata.io demo</h3>
      </div>

      <div class="row" ng-cloak>
        <div id="error" class="alert alert-danger text-center" ng-show="controller.errorMsg != null" role="alert">{{controller.errorMsg}}</div>
      </div>

      <form class="form-horizontal" name="streamdataForm">
        <div class="form-group">
          <label for="inputUrl" class="col-sm-2 control-label">URL</label>
          <div class="col-sm-10">
            <input id="inputUrl" class="form-control" placeholder="Your JSON API Url" type="url" ng-model="controller.url" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="button" class="btn btn-success" ng-click="controller.connect()" ng-disabled="controller.isConnected || streamdataForm.$invalid">Connect</button>
            <button type="button" class="btn btn-danger" ng-click="controller.disconnect()" ng-disabled="!controller.isConnected">Disconnect</button>
          </div>
        </div>
      </form>

      <div class="row">
        <table class="table table-striped table-bordered table-hover table-condensed">
          <tr>
            <th>Title</th><th>Price</th>
          </tr>
          <tr ng-repeat="element in stocks" ng-controller="ItemController" ng-class="{'success' :isActive}">
            <td>{{element.title}}</td>
            <td ng-model="element" >{{element.price}}</td>
          </tr>
        </table>
      </div>

      <div class="footer">
        <p>♥ from the Streamdata.io team</p>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/fast-json-patch/src/json-patch-duplex.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/streamdataio.min.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
