.container {
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #e5e5e5;
}

.header .header-title {
    display: flex;
    align-items: center;
}

/* Content */
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.content .form {
    width: 65%;
    padding: 30px;
}

.content .form .input-full {
    width: 100%;
}

.content .form .input-help-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.content .form .input-help-container label {
    position: relative;
}

.content .form .switch-help-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.content .form .link-help-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.content .form .input-help-container img,
.content .form .switch-help-container img,
.content .form .link-help-container img {
    align-self: center;
}

.content .form .actions {
    display: flex;
    justify-content: flex-end;
}

.content .table {
    padding: 30px;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
